.searchDate{
   display: flex;
   flex-direction: row;
   justify-content: space-around;
   .mat-form-field {
      margin-right: 12px;
    }
}

.mat-form-field-wrapper ng-tns-c82-0 {
   background-color: #fff;
   border-radius: 8px;
}