
<div class="listHotels">
   <div class="card__hotel">
      <div class="card__images">
         <img src="/assets/images/beach-house-gb1cd0186c_1920.jpg" alt="chambre">
      </div>
      <div class="card__information">
         <div class="card__nameHotel">
            <p>Residhotel Lyon Part Dieu</p>
            <p>Lyon</p>
         </div>
         <div class="card__adress">
            <p>26 rue Ampert 69007 Lyon</p>
         </div>
         <div class="card__description">
            <p>Résidence rénovée toute équipée, idéale pour vos séjours avec son parking, ses tarifs flexibles et ses plats préparés.</p>
         </div>
         <div class="card__notePrice">
            <div class="note">
               <p>7.8/10</p>
            </div>
            <div class="price">
               <p>141€</p>
            </div>
         </div>
      </div>
   </div>
   <div class="card__hotel">
      <div class="card__images">
         <img src="/assets/images/beach-house-gb1cd0186c_1920.jpg" alt="chambre">
      </div>
      <div class="card__information">
         <div class="card__nameHotel">
            <p>Residhotel Lyon Part Dieu</p>
            <p>Lyon</p>
         </div>
         <div class="card__adress">
            <p>26 rue Ampert 69007 Lyon</p>
         </div>
         <div class="card__description">
            <p>Résidence rénovée toute équipée, idéale pour vos séjours avec son parking, ses tarifs flexibles et ses plats préparés.</p>
         </div>
         <div class="card__notePrice">
            <div class="note">
               <p>7.8/10</p>
            </div>
            <div class="price">
               <p>141€</p>
            </div>
         </div>
      </div>
   </div>
   <div class="card__hotel">
      <div class="card__images">
         <img src="/assets/images/beach-house-gb1cd0186c_1920.jpg" alt="chambre">
      </div>
      <div class="card__information">
         <div class="card__nameHotel">
            <p>Residhotel Lyon Part Dieu</p>
            <p>Lyon</p>
         </div>
         <div class="card__adress">
            <p>26 rue Ampert 69007 Lyon</p>
         </div>
         <div class="card__description">
            <p>Résidence rénovée toute équipée, idéale pour vos séjours avec son parking, ses tarifs flexibles et ses plats préparés.</p>
         </div>
         <div class="card__notePrice">
            <div class="note">
               <p>7.8/10</p>
            </div>
            <div class="price">
               <p>141€</p>
            </div>
         </div>
      </div>
   </div>
</div>

