
<div class="container">
   <div class="bloc">
      <form onsubmit="event.preventDefault();" role="search">
         <input id="search" type="search" placeholder="Votre ville" name="search" [(ngModel)]="ville" autofocus required />
       </form>
   </div>

   <div class="bloc">
      <app-datepicker></app-datepicker>
   </div>
   
   <div class="select bloc">
      <select name="slct" id="slct"  [(ngModel)]="NbPersonnes">
          <option>Nombre de personnes</option>
          <option value="1">1 personne</option>
          <option value="2">2 personnes</option>
          <option value="3">3 personnes</option>
          <option value="4">4 personnes</option>
      </select>
  </div>

   <div class="bloc">
      <button class="btn__research" routerLink="/hotel/list" (click)="researchInfo()">Rechercher</button>
    </div>
</div>
