
<div class="container">
   <div>
      <form onsubmit="event.preventDefault();" role="search">
         <input id="search" type="search" placeholder="Search..." autofocus required />
       </form>
   </div>
   <div>
      <app-datepicker></app-datepicker>
   </div>
   
   <div>
      <select name="pets" id="pet-select">
         <option value="">--Voyageurs--</option>
         <option value="1">1 personne</option>
         <option value="2">2 personne</option>
         <option value="3">3 personne</option>
         <option value="4">4 personne</option>
         <option value="5">5 personne</option>
     </select>
    </div>
    <div>
      <button>Rechercher</button>
    </div>
</div>
