<div class="container_footer">
   <div class="newsletters">
      <div>
         <p>Vous souhaitez recevoir des offres exclusives ? Inscrivez-vous à notre newsletter !</p>
      </div>
      <div>
         <input type="text">
         <button>S'inscrire</button>
      </div>
   </div>
   <div class="reseauxsociaux">
    <p>Face</p>
    <p>Face</p>
    <p>Face</p>
    <p>Face</p>
   </div>
   <div class="information">
      <div class="information_left">
         <ul>
            <li>Qui sommes-nous</li>
            <li>Emplois</li>
            <li>Presse</li>
            <li>Contact</li>
         </ul>
      </div>
      <div class="information_right">
         <ul>
            <li>Aide</li>
            <li>Conditions générales</li>
            <li>Mentions légales</li>
            <li>Protection des données</li>
         </ul>
      </div>
   </div>
</div>