.filters{
   width: 250px;
   background-color: #E7E7E7;
   height: 60vh;
   margin-top: 50px;
   padding: 25px;
   display: flex;
   flex-direction: column;
   justify-content: space-evenly;
   border-radius: 8px;

   .filter__title{
      font-size: 18px;
      font-weight: 500px;


   }

   .filters_check{
      display: flex;
      flex-direction: row;
      align-items: center;
      label{
         margin-left: 10px;
      }
   }


   .filters_prix{
      display: flex;
      flex-direction: column;
      .filters{
         display: flex;
         flex-direction: row;
      }
   }
}

.filter__btn{
   display: flex;
   justify-content: space-evenly;
   .filter__btn--stars{
      border: none;
      background-color: #FF9D56;
      border-radius: 4px;
      padding-top: 4px;
      padding-bottom: 4px;
   }
}







//checkbox//
:root {
   --form-control-color: rebeccapurple;
   --form-control-disabled: #959495;
 }
 
 *,
 *:before,
 *:after {
   box-sizing: border-box;
 }
 
 body {
   margin: 0;
 }
 
 form {
   display: grid;
   place-content: center;
   min-height: 100vh;
 }
 
 .form-control {
   font-family: system-ui, sans-serif;
   font-size: 2rem;
   font-weight: bold;
   line-height: 1.1;
   display: grid;
   grid-template-columns: 1em auto;
   gap: 0.5em;
 }
 
 .form-control + .form-control {
   margin-top: 1em;
 }
 
 .form-control--disabled {
   color: var(--form-control-disabled);
   cursor: not-allowed;
 }
 
 input[type="checkbox"] {
   -webkit-appearance: none;
   font: inherit;
   color: #FF9D56;
   width: 1.15em;
   height: 1.15em;
   border: 0.18em solid currentColor;
   border-radius: 0.15em;
   display: grid;
   place-content: center;
 }
 
 input[type="checkbox"]::before {
   content: "";
   width: 0.65em;
   height: 0.65em;
   clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
   transform: scale(0);
   transform-origin: bottom left;
   transition: 120ms transform ease-in-out;
   box-shadow: inset 1em 1em var(--form-control-color);
   background-color: CanvasText;
 }
 
 input[type="checkbox"]:checked::before {
   transform: scale(1);
 }
 
 input[type="checkbox"]:focus {
   outline: max(2px, 0.15em) solid currentColor;
   outline-offset: max(2px, 0.15em);
 }
 
 input[type="checkbox"]:disabled {
   --form-control-color: var(--form-control-disabled);
 
   color: var(--form-control-disabled);
   cursor: not-allowed;
 }
