<div class="filters">
   <div class="filters_prix">
      <p class="filter__title">Le budget</p>


      <div class="filters_check">
         <input type="checkbox" id="scales" name="scales">
         <label for="scales">Moins de 50€</label>
      </div>
       <div class="filters_check">
         <input type="checkbox" id="scales" name="scales">
         <label for="scales">50 € à 100 €</label>
      </div>
      <div class="filters_check">
         <input type="checkbox" id="scales" name="scales">
         <label for="scales">100 € à 150 €</label>
      </div>
      <div class="filters_check">
         <input type="checkbox" id="scales" name="scales">
         <label for="scales">150 € à 225 €</label>
      </div>
      <div class="filters_check">
         <input type="checkbox" id="scales" name="scales">
         <label for="scales">Plus de 225 €</label>
      </div>
   </div>

   <div class="filters_notes">
      <p class="filter__title">Notes des utilisateurs</p>
      <div class="filters_check">
         <input type="radio" id="scales" name="scales">
         <label for="scales">Entre 9-10</label>
      </div>
      <div class="filters_check">
         <input type="radio" id="scales" name="scales">
         <label for="scales">Entre 6-8</label>
      </div>
      <div class="filters_check">
         <input type="radio" id="scales" name="scales">
         <label for="scales">Entre 5-3</label>
      </div>
      <div class="filters_check">
         <input type="radio" id="scales" name="scales">
         <label for="scales">Entre 0-2</label>
      </div>
   </div>

   <div class="filters_stars">
      <p class="filter__title">Etoile de l'etablissement</p>
      <div class="filter__btn">
         <button class="filter__btn--stars">1 ★</button>
         <button class="filter__btn--stars">2 ★</button>
         <button class="filter__btn--stars">3 ★</button>
         <button class="filter__btn--stars">4 ★</button>
         <button class="filter__btn--stars">5 ★</button>
      </div>
   </div>

   <div class="filters_service">
      <p class="filter__title">Les services</p>
      <div class="filters_check">
         <input type="checkbox" id="scales" name="scales">
         <label for="scales">Wifi gratuit</label>
      </div>
      <div class="filters_check">
         <input type="checkbox" id="scales" name="scales">
         <label for="scales">Climatisation</label>
      </div>
      <div class="filters_check">
         <input type="checkbox" id="scales" name="scales">
         <label for="scales">Piscine</label>
      </div>
      <div class="filters_check">
         <input type="checkbox" id="scales" name="scales">
         <label for="scales">Restaurant</label>
      </div>
      <div class="filters_check">
         <input type="checkbox" id="scales" name="scales">
         <label for="scales">Animaux admis</label>
      </div>
   </div>
</div>