<div class="filters">
   <div class="filters_prix">
      <p>Le budget</p>
      <div class="filters_check">
         <input type="checkbox" id="scales" name="scales">
         <label for="scales">Moins de 50 €</label>
      </div>
      <div class="filters_check">
         <input type="checkbox" id="scales" name="scales">
         <label for="scales">50 € à 100 €</label>
      </div>
      <div class="filters_check">
         <input type="checkbox" id="scales" name="scales">
         <label for="scales">100 € à 150 €</label>
      </div>
      <div class="filters_check">
         <input type="checkbox" id="scales" name="scales">
         <label for="scales">150 € à 225 €</label>
      </div>
      <div class="filters_check">
         <input type="checkbox" id="scales" name="scales">
         <label for="scales">Plus de 225 €</label>
      </div>
   </div>

   <div class="filters_notes">
      <p>Notes des utilisateurs</p>
      <div class="filters_check">
         <input type="radio" id="scales" name="scales">
         <label for="scales">9-10</label>
      </div>
      <div class="filters_check">
         <input type="radio" id="scales" name="scales">
         <label for="scales">6-8</label>
      </div>
      <div class="filters_check">
         <input type="radio" id="scales" name="scales">
         <label for="scales">5-3</label>
      </div>
      <div class="filters_check">
         <input type="radio" id="scales" name="scales">
         <label for="scales">0-2</label>
      </div>
   </div>

   <div class="filters_stars">
      <p>Etoile de l'etablissement</p>
      <button>1 ★</button>
      <button>2 ★</button>
      <button>3 ★</button>
      <button>4 ★</button>
      <button>5 ★</button>
   </div>

   <div class="filters_service">
      <p>Les services</p>
      <div class="filters_check">
         <input type="checkbox" id="scales" name="scales">
         <label for="scales">Wifi gratuit</label>
      </div>
      <div class="filters_check">
         <input type="checkbox" id="scales" name="scales">
         <label for="scales">Climatisation</label>
      </div>
      <div class="filters_check">
         <input type="checkbox" id="scales" name="scales">
         <label for="scales">Piscine</label>
      </div>
      <div class="filters_check">
         <input type="checkbox" id="scales" name="scales">
         <label for="scales">Restaurant</label>
      </div>
      <div class="filters_check">
         <input type="checkbox" id="scales" name="scales">
         <label for="scales">Animaux de compagnie admis</label>
      </div>
   </div>



</div>
