.filters{
   width: 250px;
   background-color: grey;
   height: 80vh;
   margin-top: 50px;

   .filters_prix{
      display: flex;
      flex-direction: column;
      .filters{
         display: flex;
         flex-direction: row;
      }
   }
}