.pages__hotels{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   .pages__hotels--filter{}
   .pages__hotels--list{
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      
   }
}