
<div class="hotelFind">
   <div class="hotelFind__picture">
      <img src="../../../assets/images/chambre.jpg" alt="chambre">
   </div> 
   <div class="hotelFind__information">
      <div class="hotelFind__information--hotel">
         <p>Hôtel {{hotel.name}}</p>
         <p>★★★</p>
         <p class="hotelnoteUser">{{hotel.noteUser}}/10</p>
      </div>
      <div class="hotelFind__information--adress">
         <p>Adresse</p>
         <p>{{adress.number}} {{adress.street}}</p>
         <p>{{adress.city}} {{adress.cp}}</p>
      </div>
   </div> 
   <div class="hotelFind__description">
      <p>{{hotel.description}}</p>
   </div> 
</div>
<div class="chambresbyHotel">
   <div class="chambre">
      <div class="chambre__picture">
         <img src="../../../assets/images/chambre.jpg" alt="chambre">
      </div>
   </div>
   <div class="chambre">
      <div class="chambre__picture">
         <img src="../../../assets/images/chambre.jpg" alt="chambre">
      </div>
      <div class="chambre__information">
        <p>Toto<p>
      </div>
   </div>
   <div class="chambre">
      <div class="chambre__picture">
         <img src="../../../assets/images/chambre.jpg" alt="chambre">
      </div>
   </div>
</div>
   


